@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#07F285,#05DBF2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(172, 102, 242);
    width: 600px;
    padding: 5%;
    margin: auto;
}

h1 {
    color: #AC66F2;
    text-align: center;
    text-shadow: 1px 1px 2px hwb(270 5% 60%);
}

h2 {
    color: #F76DC8;
}

p {
    text-align: justify;
}
